* {
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  color: #222;
}

.wrapper {
  position: relative;
  max-width: 900px;
  margin: 10px auto;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
}

header,
footer {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  background: #222;
  color: #eee;
  box-sizing: border-box;
  padding: 20px;
}

main {
  box-sizing: border-box;
  padding: 30px 20px !important;
}

footer {
  height: auto;
  padding: 20px;
  font-size: 0.7em;
  font-weight: 200;
}

footer p {
  line-height: 0;
  text-align: center;
}

h1 {
  margin: 0 !important;
  line-height: 60px;
  text-align: center;
}

table {
  width: 100%;
}

span.error {
  color: tomato !important;
}

form {
  position: relative;
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 80px 0;
}

form input {
  margin-bottom: 15px !important;
  width: 300px !important;
}

form button {
  position: relative !important;
  display: block !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.alert {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 7px 50px;
}

.alert.alert-success {
  background: limegreen;
}
.alert.alert-error {
  background: tomato;
}

a {
  text-decoration: none;
  color: #111;
  font-weight: bolder;
  border-bottom: 0px solid #111;
  transition: all 70ms ease-out;
  padding: 2px 5px;
}

a:hover {
  border-bottom: 2px solid #111;
}
