<check if="{{ @alertSuccess }}">
  <div class="alert alert-success">{{ @alertSuccess }}</div>
</check>
<check if="{{ @alertError }}">
  <div class="alert alert-error">{{ @alertError }}</div>
</check>
