<style>
    textarea, select {
        width: 100%;
    }
</style>
<a href="/courses">< back</a></back>
<h1>Kurs hinzufügen</h1>


<include href="/views/modules/alert.html" />


<form class="pure-form pure-form-stacked" action="" method="POST" novalidate>

  <label for="title">Titel</label>
  <check if="{{ @errors.title }}">
    <span class="pure-form-message error">{{ @errors.title }}</span>
  </check>
  <input id="title" type="text" name="title" value="{{ @values.title }}" />

  <label for="desc">Beschreibung</label>
  <check if="{{ @errors.desc }}">
    <span class="pure-form-message error">{{ @errors.desc }}</span>
  </check>
  <textarea name="desc" id="desc">{{ @values.desc }}</textarea>

  <label for="trainer">Trainer</label>
  <check if="{{ @errors.trainer }}">
    <span class="pure-form-message error">{{ @errors.trainer }}</span>
  </check>
  <select name="trainer" id="trainer">
      <repeat group="{{ @trainer }}" value="{{ @tr }}">
          <option value="{{ @tr.id }}" <check if="{{ @values.trainer == @tr.id }}">selected</check>>{{ @tr.name }}</option>
      </repeat>
  </select>

  <label for="room">Raum</label>
  <check if="{{ @errors.room }}">
    <span class="pure-form-message error">{{ @errors.room }}</span>
  </check>
  <select name="room" id="room">
      <repeat group="{{ @rooms }}" value="{{ @room }}">
          <option value="{{ @room.id }}" <check if="{{ @values.room == @room.id }}">selected</check>>{{ @room.number }}</option>
      </repeat>
  </select>
  
  <label for="date">Datum</label>
  <check if="{{ @errors.date }}">
    <span class="pure-form-message error">{{ @errors.date }}</span>
  </check>
  <input type="date" name="date" id="date" value="{{ @values.date }}">

  <label for="time_start">Start Zeit</label>
  <check if="{{ @errors.time_start }}">
    <span class="pure-form-message error">{{ @errors.time_start }}</span>
  </check>
  <input type="time" name="time_start" id="time_start" value="{{ @values.time_start }}">

  <label for="time_end">End Zeit</label>
  <check if="{{ @errors.time_end }}">
    <span class="pure-form-message error">{{ @errors.time_end }}</span>
  </check>
  <input type="time" name="time_end" id="time_end" value="{{ @values.time_end }}">

  <button type="submit" class="pure-button">Kurs anlegen</button>
</form>