<h2>Alle eingetragenen Kurse:</h2>
<br />
<a href="/courses/new" style="position:absolute; right: 20px; margin-top:-30px">> Kurs hinzufügen</a>
<style>

    table {
        font-size: .8em;
    }
</style>
<table class="pure-table pure-table-bordered">
  <thead>
    <th>Kurs</th>
    <th>Beschreibung</th>
    <th>Trainer</th>
    <th>Raum</th>
    <th>Datum</th>
  </thead>
  <tbody>
    <repeat group="{{ @courses }}" value="{{ @course }}">
      <tr>
        <td>{{ @course.title }}</td>
        <td>{{ @course.desc }}</td>
        <td>{{ @course.trainer }}</td>
        <td>{{ @course.room }}</td>
        <td>{{ @course.date }} ({{ @course.time }})</td>
      </tr>
    </repeat>
  </tbody>
</table>
