<include href="/views/modules/alert.html" />

<a href="/user">< back</a>

<form class="pure-form pure-form-stacked" action="" method="POST" novalidate>
  <label for="id">User ID</label>
  <input type="text" name="id" value="{{ @user.id }}" readonly />
  <label for="email">Email</label>
  <check if="{{ @errors.email }}">
    <span class="pure-form-message error">{{ @errors.email }}</span>
  </check>
  <input id="email" type="email" name="email" value="{{ @user.email }}" />
  <span class="pure-form-message"></span>

  <label for="password">Passwort</label>
  <check if="{{ @errors.password }}">
    <span class="pure-form-message error">{{ @errors.password }}</span>
  </check>
  <input
    id="password"
    type="text"
    name="password"
    value="{{ @user.password }}"
  />

  <button type="submit" class="pure-button">Speichern</button>
</form>
