<include href="/views/modules/alert.html" />

<a href="/user">< back</a></back>

<form class="pure-form pure-form-stacked" action="" method="POST" novalidate>
  <label for="email">Email</label>
  <check if="{{ @errors.email }}">
    <span class="pure-form-message error">{{ @errors.email }}</span>
  </check>
  <input id="email" type="email" name="email" value="{{ @values.email }}" />
  <span class="pure-form-message"></span>

  <label for="password">Passwort</label>
  <check if="{{ @errors.password }}">
    <span class="pure-form-message error">{{ @errors.password }}</span>
  </check>
  <input id="password" type="password" name="password" />

  <button type="submit" class="pure-button">Benutzer erstellen</button>
</form>
