<h2>Alle eingetragenen Benutzer:</h2>
<br />
<a href="/user/new" style="position:absolute; right: 20px; margin-top:-30px">> add new User</a>

<table class="pure-table pure-table-bordered">
  <thead>
    <th>ID</th>
    <th>Mail</th>
    <th>Passwort</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <repeat group="{{ @users }}" value="{{ @user }}">
      <tr>
        <td>{{ @user.id }}</td>
        <td>{{ @user.email }}</td>
        <td>{{ @user.password }}</td>
        <td>
          <a href="/user/{{ @user.id }}">Details</a>
          <a href="/user/{{ @user.id }}/edit">Edit</a>
          <button
            class="pure-button btn-delete"
            data-url="/user/{{ @user.id }}/delete"
          >
            Delete
          </button>
        </td>
      </tr>
    </repeat>
  </tbody>
</table>
